html, body {
  background: #9a031e;
  font-family: 'Bahnschrift', 'Ebrima' , sans-serif;
  font-size: 2px;
  color: white;
}

#website {
  width: 90%;
  max-width: 10000px;
  background: #e36414;
  margin: 40px auto;
}

#headshot img{
  width: 20%
  float: right;
}

#details {
  background: #f4e285
  margin: 40px auto;
}

#name h1 {
  font-family: 'Malgun Gothic', sans-serif;
  font-size: 15em;
}

#name h2 {
  font-family: 'Malgun Gothic', sans-serif;
  font-size: 10em;
}

#contacts p {
  font-family: 'Calibri Light', sans-serif;
  font size: 1em;

}
