html, body {
  background: #9a031e;
  font-family: 'Bahnschrift', 'Ebrima' , sans-serif;
  font-size: 10px;
  color: white;
}

#website {
  width: 90%;
  max-width: 8000px;
  background: #e36414;
  margin: 40px auto;
}

#headshot img{
  width: 25%;
  margin: 40 px auto;
  float: right;
  width: 25%;
}

#details {
  background: #f4e285;
  margin: 40px auto;
  float: left;
  width: 72.5%;
}

#name h1 {
  font-family: 'Calibri Light', sans-serif;
  font-size: 15em;
  float: left
}

#name h2 {
  font-family: 'Calibri Light', sans-serif;
  font-size: 10em;
}

#contacts p {
  font-family: 'Calibri Light', sans-serif;
  font size: 1em;

}
